@charset "utf-8";
/* CSS Document */
#home{
	margin-left:10%;
}

#title{
background-color:#2059a6;
color:#FFF;
}

#progressbar{
margin:auto;
position:relative;
top:50px;
}

.checkprogress{
}

.togglebox{
color:#fc242b;
width:60%;
margin:auto;
padding:2em;
font-size:2em;
line-height:2em;
}

.checkicon{
display:none;
}

.newClass{
background-color:#2059a6;
color:#FFF;
font-size:1.5em;
}

.left-btn{
	float:right;
}

.select-btn{

}

.right-btn{
	float:right;
}

